<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title ComicsShop
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans&display=swap", rel: "stylesheet"}
  %body
    %script{crossorigin: "anonymous", integrity: "sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", src: "https://code.jquery.com/jquery-3.4.1.min.js"}
    %script{src: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js", integrity: "sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o", crossorigin: "anonymous"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %nav{class: "navbar sticky-top navbar-light navbar-expand-xl d-flex justify-content-around"}
      %div.d-flex.justify-content-start
        %a{href: home_path, id: "logo"}
          = image_tag 'logo.png', alt: 'ComicsShop', height: '48px', width: '51px'
        %ul.navbar-nav.ml-0.mt-1
          %li.nav-item
            = link_to "Главная", home_path, class: "nav-link"
          %li.nav-item.dropdown
            %a#navbar_dropdown.nav-link.dropdown-toggle{ href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "true"}
              Каталог
            #dropdown-nav.dropdown-menu{"aria-labelledby" => "navbar_dropdown"}
              - unless @sections.nil?
                - @sections.each do |f|
                  = link_to f.name, "#", class: "dropdown-item"
          %li.nav-item
            = link_to 'Статьи', "#", class: "nav-link"
          %li.nav-item
            = link_to 'О компании', "#", class: "nav-link"
        %form#search.form-inline
          %input.form-control{ type: "search" }
          %input{ hidden: "true", type: "submit" }
      %div.d-flex.justify-content-start
        %span.nav__phone.mb-auto.mt-auto.mr-2
          Тел. +7 999 090 90-90
        %ul.navbar-nav
          %li.nav__icon.nav-item.dropdown.m-auto
            %a#cart_dropdown.nav-link.dropdown-toggle{ href: "#", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "true"}
              %span
                %svg{:fill => "none", :height => "20", :viewbox => "0 0 20 20", :width => "20", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M6.00456 13.1685H17.0246C18.2741 13.1685 19.2935 12.1491 19.2935 10.8995V6.26299C19.2935 6.25888 19.2935 6.25066 19.2935 6.24655C19.2935 6.23421 19.2935 6.22599 19.2935 6.21366C19.2935 6.20544 19.2935 6.19722 19.2894 6.189C19.2894 6.18078 19.2853 6.16845 19.2853 6.16023C19.2853 6.15201 19.2812 6.14379 19.2812 6.13556C19.2771 6.12734 19.2771 6.11912 19.273 6.10679C19.2689 6.09857 19.2689 6.09035 19.2647 6.08213C19.2606 6.07391 19.2606 6.06569 19.2565 6.05747C19.2524 6.04925 19.2483 6.04103 19.2442 6.02869C19.2401 6.02047 19.236 6.01225 19.2319 6.00814C19.2277 5.99992 19.2236 5.9917 19.2195 5.98348C19.2154 5.97526 19.2113 5.97115 19.2072 5.96293C19.2031 5.95471 19.1949 5.94649 19.1908 5.93826C19.1866 5.93004 19.1825 5.92593 19.1743 5.91771C19.1702 5.90949 19.162 5.90538 19.1579 5.89716C19.1538 5.88894 19.1455 5.88483 19.1414 5.87661C19.1373 5.86839 19.1291 5.86428 19.125 5.86017C19.1168 5.85195 19.1127 5.84784 19.1044 5.83961C19.0962 5.8355 19.0921 5.82728 19.0839 5.82317C19.0757 5.81906 19.0674 5.81084 19.0592 5.80673C19.051 5.80262 19.0469 5.79851 19.0387 5.7944C19.0304 5.79029 19.0222 5.78618 19.014 5.77796C19.0058 5.77385 18.9976 5.76974 18.9893 5.76563C18.9811 5.76152 18.9729 5.75741 18.9647 5.7533C18.9565 5.74919 18.9482 5.74508 18.94 5.74096C18.9318 5.73685 18.9236 5.73685 18.9154 5.73274C18.9071 5.72863 18.8948 5.72452 18.8866 5.72452C18.8784 5.72452 18.8701 5.72041 18.866 5.72041C18.8537 5.7163 18.8455 5.7163 18.8332 5.7163C18.829 5.7163 18.8249 5.71219 18.8167 5.71219L4.84953 3.78441V1.83607C4.84953 1.81552 4.84953 1.79497 4.84542 1.77852C4.84542 1.77441 4.84542 1.7703 4.84131 1.76208C4.84131 1.74975 4.8372 1.73742 4.8372 1.72509C4.83309 1.71276 4.83309 1.70454 4.82898 1.69221C4.82898 1.68399 4.82487 1.67987 4.82487 1.67165C4.82076 1.65932 4.81665 1.64699 4.81254 1.63466C4.81254 1.63055 4.80843 1.62233 4.80843 1.61822C4.80432 1.60589 4.80021 1.59767 4.79198 1.58534C4.78787 1.58123 4.78787 1.573 4.78376 1.56889C4.77965 1.56067 4.77554 1.55245 4.76732 1.54423C4.76321 1.53601 4.7591 1.5319 4.75499 1.52368C4.75088 1.51546 4.74677 1.51135 4.74266 1.50313C4.73855 1.49491 4.73033 1.48669 4.72622 1.47846C4.72211 1.47435 4.718 1.47024 4.71389 1.46613C4.70567 1.45791 4.69744 1.44969 4.68922 1.44147C4.68511 1.43736 4.681 1.43325 4.67689 1.42914C4.66867 1.42092 4.66045 1.4127 4.64812 1.40448C4.64401 1.40037 4.63579 1.39626 4.63168 1.39215C4.62346 1.38393 4.61524 1.37981 4.60702 1.37159C4.59468 1.36337 4.58235 1.35515 4.57413 1.35104C4.57002 1.34693 4.56591 1.34693 4.5618 1.34282C4.54536 1.3346 4.52481 1.32638 4.50837 1.31816L1.47899 0.0439301C1.19537 -0.075272 0.870651 0.0562613 0.75145 0.33988C0.632248 0.623498 0.763781 0.948221 1.0474 1.06742L3.73561 2.2019V4.71747V5.11618V8.17433V10.9078V14.3605C3.73561 15.5114 4.59879 16.465 5.71272 16.6089C5.51131 16.946 5.3921 17.3406 5.3921 17.7598C5.3921 18.9971 6.39916 20 7.63228 20C8.8654 20 9.87245 18.9929 9.87245 17.7598C9.87245 17.3488 9.76147 16.9583 9.56417 16.6295H14.5542C14.3569 16.9624 14.2459 17.3488 14.2459 17.7598C14.2459 18.9971 15.253 20 16.4861 20C17.7192 20 18.7263 18.9929 18.7263 17.7598C18.7263 16.5267 17.7192 15.5196 16.4861 15.5196H6.00456C5.36333 15.5196 4.84542 14.9976 4.84542 14.3605V12.8561C5.18247 13.0534 5.58118 13.1685 6.00456 13.1685ZM8.76675 17.7557C8.76675 18.3805 8.25706 18.8861 7.63639 18.8861C7.01572 18.8861 6.50603 18.3764 6.50603 17.7557C6.50603 17.135 7.01572 16.6253 7.63639 16.6253C8.25706 16.6253 8.76675 17.1309 8.76675 17.7557ZM17.6206 17.7557C17.6206 18.3805 17.1109 18.8861 16.4902 18.8861C15.8695 18.8861 15.3599 18.3764 15.3599 17.7557C15.3599 17.135 15.8695 16.6253 16.4902 16.6253C17.1109 16.6253 17.6206 17.1309 17.6206 17.7557ZM17.0246 12.0587H6.00456C5.36333 12.0587 4.84542 11.5366 4.84542 10.8995V8.16611V5.10796V4.90244L18.1837 6.7398V10.8954C18.1837 11.5408 17.6617 12.0587 17.0246 12.0587Z", :fill => "#F78B08"}
            #dropdown-cart.dropdown-menu{"aria-labelledby" => "cart_dropdown"}
              %ul.cart__items
                %li.item
                  %span
                    %img(src="http://image.jeuxvideo.com/avatar-sm/s/n/snukialz-1529070967-d3024873dab5be516e8d0b70915b673b.jpg" alt="")
                  %span
                    = link_to "Гвен-Паук. Том 0. Особо опасна?"
                    %i.fas.fa-times
                  %span

          %li.nav__icon.nav-item.m-auto
            %a.nav-link
              %span
                %svg{:fill => "none", :height => "20", :viewbox => "0 0 18 20", :width => "18", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M8.92782 10.7766C8.94853 10.7766 8.96924 10.7766 8.99409 10.7766C9.00237 10.7766 9.01065 10.7766 9.01894 10.7766C9.03136 10.7766 9.04793 10.7766 9.06035 10.7766C10.2739 10.7559 11.2554 10.3293 11.9802 9.51336C13.5747 7.71588 13.3097 4.6345 13.2807 4.34044C13.1771 2.13295 12.1335 1.07683 11.272 0.583972C10.63 0.215366 9.8804 0.0165666 9.04379 0H9.0148C9.01065 0 9.00237 0 8.99823 0H8.97338C8.51366 0 7.61078 0.0745496 6.74518 0.567405C5.87543 1.06026 4.81517 2.11638 4.71163 4.34044C4.68264 4.6345 4.41757 7.71588 6.0121 9.51336C6.73275 10.3293 7.71432 10.7559 8.92782 10.7766ZM5.81745 4.44398C5.81745 4.43156 5.82159 4.41913 5.82159 4.41085C5.95826 1.44129 8.06636 1.12239 8.96924 1.12239H8.98581C8.99409 1.12239 9.00651 1.12239 9.01894 1.12239C10.1372 1.14724 12.0382 1.60282 12.1666 4.41085C12.1666 4.42328 12.1666 4.4357 12.1707 4.44398C12.1749 4.47298 12.4648 7.28929 11.1477 8.772C10.6259 9.36012 9.9301 9.65003 9.0148 9.65831C9.00651 9.65831 9.00237 9.65831 8.99409 9.65831C8.98581 9.65831 8.98166 9.65831 8.97338 9.65831C8.06222 9.65003 7.36228 9.36012 6.84457 8.772C5.53167 7.29758 5.81331 4.46883 5.81745 4.44398Z", :fill => "#F78B08"}
                  %path{:d => "M17.505 15.8873C17.505 15.8832 17.505 15.879 17.505 15.8749C17.505 15.8418 17.5009 15.8086 17.5009 15.7714C17.476 14.9513 17.4222 13.0337 15.6247 12.4208C15.6123 12.4166 15.5957 12.4125 15.5833 12.4083C13.7154 11.932 12.1623 10.8552 12.1457 10.8428C11.8931 10.6647 11.5452 10.7268 11.3671 10.9795C11.189 11.2321 11.2511 11.58 11.5038 11.7581C11.5742 11.8078 13.2225 12.955 15.2851 13.4852C16.2501 13.8289 16.3578 14.8602 16.3868 15.8045C16.3868 15.8418 16.3868 15.8749 16.3909 15.908C16.395 16.2808 16.3702 16.8565 16.3039 17.1878C15.633 17.5688 13.003 18.8859 9.0022 18.8859C5.01794 18.8859 2.37143 17.5647 1.69634 17.1837C1.63008 16.8523 1.60109 16.2766 1.60937 15.9039C1.60937 15.8708 1.61351 15.8376 1.61351 15.8004C1.6425 14.8561 1.75019 13.8248 2.71519 13.481C4.77773 12.9509 6.4261 11.7995 6.49651 11.754C6.74915 11.5759 6.81128 11.228 6.63318 10.9753C6.45509 10.7227 6.1072 10.6606 5.85456 10.8387C5.83799 10.8511 4.29316 11.9279 2.41699 12.4042C2.40042 12.4083 2.388 12.4125 2.37557 12.4166C0.578101 13.0337 0.524259 14.9513 0.49941 15.7672C0.49941 15.8045 0.499409 15.8376 0.495268 15.8708C0.495268 15.8749 0.495268 15.879 0.495268 15.8832C0.491126 16.0985 0.486985 17.2044 0.706492 17.7594C0.747908 17.867 0.822458 17.9582 0.921857 18.0203C1.04611 18.1031 4.02395 20 9.00635 20C13.9887 20 16.9666 18.099 17.0908 18.0203C17.1861 17.9582 17.2648 17.867 17.3062 17.7594C17.5133 17.2085 17.5091 16.1027 17.505 15.8873Z", :fill => "#F78B08"}

    .container
      = yield